<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SelfInspection.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DF5A0EF1D367F6E5E819DFC285282A4A93F3EE74</string>
				<key>dateExpires</key>
				<string>23/03/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF5A0EF1D367F6E5E819DFC285282A4A93F3EE74</string>
						<key>dateExpires</key>
						<string>23/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HQJG5EM49A</string>
						<key>name</key>
						<string>Abu Dhabi Food Control Authority</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF5A0EF1D367F6E5E819DFC285282A4A93F3EE74</string>
						<key>dateExpires</key>
						<string>23/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HQJG5EM49A</string>
						<key>name</key>
						<string>Abu Dhabi Food Control Authority</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.8.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF5A0EF1D367F6E5E819DFC285282A4A93F3EE74</string>
						<key>dateExpires</key>
						<string>23/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HQJG5EM49A</string>
						<key>name</key>
						<string>Abu Dhabi Food Control Authority</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HQJG5EM49A.com.SelfInspection</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HQJG5EM49A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SelfInspection.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca0b0399-aa0b-447a-9e38-19255dc649a9</string>
				<key>dateExpires</key>
				<string>22/08/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.SelfInspection</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HQJG5EM49A</string>
				<key>name</key>
				<string>Abu Dhabi Food Control Authority</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
